@model AlfaPeople.KingKhaledFoundation.Admin.Web.Models.EmployeeVM

@{
    Layout = null;
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { onSubmit = "return jQueryAjaxPost(this);", data_restUrl = Url.Action("Index", "Employee", new { id = 0 }) }))//data-resetUrl
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*@Html.HiddenFor(model => model.RegionID)*@
            <div class="form-group">
                @Html.LabelFor(model => model._BackEndUser.UserName, htmlAttributes: new { @class = "bmd-label-floating" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model._BackEndUser.UserName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model._BackEndUser.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "bmd-label-floating" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model._BackEndUser.Password, htmlAttributes: new { @class = "bmd-label-floating" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model._BackEndUser.Password, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                </div>
                @Html.ValidationMessageFor(model => model._BackEndUser.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.RoleId, (SelectList)ViewBag.Role, new { @class = "form-control selectpicker", @required = "required", data_style = "select-with-transition", @title = "Select Role" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.PositionId, (SelectList)ViewBag.Position, new { @class = "form-control selectpicker", @required = "required", data_style = "select-with-transition", @title = "Select Position" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model._BackEndUser.IsActive, htmlAttributes: new { @class = "bmd-label-floating" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model._BackEndUser.IsActive, new { htmlAttributes = new { @required = "required" } })
                    @Html.ValidationMessageFor(model => model._BackEndUser.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-info btn-link">Add</button>
        <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
    </div>
}