@model IEnumerable<AlfaPeople.KingKhalidFoundation.Data.Model.City>
@{ 

    Layout = null;
}
<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
       width="100%" style="width:100%">
    <thead>
        <tr>
            <th>
                @Resources.Cities.Governorate
            </th>
          
       
          
            <th>
                @Resources.Cities.City
            </th>

            <th>
                @Resources.Cities.IsActive
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (ViewBag.lang == 3)
                    {
                        @Html.DisplayFor(modelItem => item.Governorate.GovernorateAR)

                    }
                    else
                    {

                        @Html.DisplayFor(modelItem => item.Governorate.GovernorateEN)
                    }
                </td>


                <td>
                    @if (ViewBag.lang == 3)
                    {
                        @Html.DisplayFor(modelItem => item.CityNameAR)

                    }
                    else
                    {

                        @Html.DisplayFor(modelItem => item.CityNameEN)
                    }
                </td>

                <td>

                    @if (item.IsActive == true)
                    {
                        <span class="badge badge-pill badge-success">
                            @Resources.Cities.Active
                        </span>

                    }
                    else
                    {
                        <span class="badge badge-pill badge-danger">
                            @Resources.Cities.InActive
                        </span>

                    }

                </td>
         
              
          
                <td>
                    <a class="btn btn-link btn-warning btn-just-icon edit" data-toggle="modal" data-target="#EditClassificationSectorNonProfit" onclick="Edit('@Url.Action("Edit", "Cities", new { id=@item.CityID})')"><i class="material-icons">edit</i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
