@model IEnumerable<AlfaPeople.KingKhalidFoundation.Data.Model.IncubationFollowUpEvaluation>
@{
    /**/

    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-10 ml-auto mr-auto"> -->
            <div class="col-md-12">
                <div class="card">
                    <!-- <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                    <i class="material-icons"></i>
                    </div>
                    <h4 class="card-title">AuthorizationAuthority</h4>
                    </div> -->
                    <div class="card-body">
                        <div class="toolbar">
                            <a href="@Url.Action("Create", new {Type= ViewBag.Type })" class="btn btn-link btn-info btn-just-icon like">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                                   width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Resources.IncubationFollowUpEvaluation.ProjectName
                                        </th>
                                        <th>
                                            @Resources.IncubationFollowUpEvaluation.CorporationName
                                        </th>
                                        <th>
                                            @Resources.IncubationFollowUpEvaluation.ProjectSuccessRate
                                        </th>
                                        <th>
                                            @Resources.General.Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Incubation.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FrontendUser.CorporateApplicationForms.FirstOrDefault().Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProjectSuccessRate)
                                            </td>
                                            <td>
                                                <a class="btn btn-link btn-warning btn-just-icon edit" href="@Url.Action("Edit", new { IncubationFollowUpEvaluationID = item.IncubationFollowUpEvaluationID, Type = ViewBag.Type})"><i class="material-icons">edit</i></a>
                                                @*<a class="btn btn-link btn-warning btn-just-icon edit" href="@Url.Action("Index","GrantInvitations", new { workshopId = item.GrantWorkshopID, Type = ViewBag.Type })"><i class="material-icons">how_to_vote</i></a>
                                                    <a class="btn btn-link btn-warning btn-just-icon edit" href="@Url.Action("Index","AttendGrantWorkshop", new { workshopId = item.GrantWorkshopID, Type = ViewBag.Type })"><i class="material-icons">assignment_ind</i></a>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content-->



@section Scripts{

    <script>
        var urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('Type')) {
            if (urlParams.get('Type') == "Incubation") {
                window.onload = function (e) {
                    $('#navItem_Inc_IncubationFollowUpEvaluation').addClass('active');
                    $('#IncubationFinalReports').addClass('show');
                };
            }
            else if (urlParams.get('Type') == "Acceleration") {
                window.onload = function (e) {
                    $('#navItem_Acc_IncubationFollowUpEvaluation').addClass('active');
                    $('#IncubationFinalReports').addClass('show');
                };
            }
        }
    </script>

    <script>
        $(function () {
            if ('@Resources.General.lang' == 'ar') {
                $("#datatables").DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Arabic.json"
                    }
                });
            } else {
                $("#datatables").DataTable();
            }
        });
    </script>
}
