<!DOCTYPE html>
<html style="direction:@Resources.General.dir; text-align:@Resources.General.TextAlign;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="direction:@Resources.General.dir; text-align:@Resources.General.TextAlign;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('form').one('submit', function () {
                $(this).find("input[type='submit']").prop('disabled', true);
                $(this).find('input[type="submit"]').attr('disabled', 'disabled');
                $(this).find("button[type='submit']").prop('disabled', true);
                $(this).find('button[type="submit"]').attr('disabled', 'disabled');
            });
            $('form').submit(function () {
                $(this).find("input[type='submit']").prop('disabled', true);
                $(this).find('input[type="submit"]').attr('disabled', 'disabled');
                $(this).find("button[type='submit']").prop('disabled', true);
                $(this).find('button[type="submit"]').attr('disabled', 'disabled');
            });
            $('input').focusout(function () {
                if ($(this).val() != '') {
                    $(':input[type="submit"]').prop('disabled', false);
                    $(':button[type="submit"]').prop('disabled', false);

                    $(':input[type="submit"]').removeAttr('disabled');
                    $(':button[type="submit"]').removeAttr('disabled');
                }
            });
            $('select').change(function () {
                if ($(this).val() != '') {
                    $(':input[type="submit"]').prop('disabled', false);
                    $(':button[type="submit"]').prop('disabled', false);

                    $(':input[type="submit"]').removeAttr('disabled');
                    $(':button[type="submit"]').removeAttr('disabled');
                }
            });
            $('textarea').focusout(function () {
                if ($(this).val() != '') {
                    $(':input[type="submit"]').prop('disabled', false);
                    $(':button[type="submit"]').prop('disabled', false);

                    $(':input[type="submit"]').removeAttr('disabled');
                    $(':button[type="submit"]').removeAttr('disabled');
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var lang = document.documentElement.lang;

            // الحصول على جميع العناصر داخل body
            var elements = document.body.querySelectorAll('*');

            // قائمة بالكلاسات التي نريد استثنائها
            var excludedClasses = [
                'logo',
                'simple-text',
                'logo-mini',
                'logo-normal',
                'sidebar-wrapper',
                'ps-container',
                'ps-theme-default',
                'user',
                'photo',
                'collapse',
                'nav',
                'nav-item',
                'text_align-center',
                'text_align-center',
                'material-icons',
                'table',
                'sidebar',
                'text_align-center',
                '.btn.btn-fab .fa, .btn.btn-fab .material-icons, .btn.btn-just-icon .fa, .btn.btn-just-icon .material-icons'
            ];

            if (lang === "ar") {
                document.body.classList.add("rtl");
                document.body.classList.remove("ltr");

                // تعيين الخصائص للعناصر داخل body ما عدا العناصر المستثناة
                elements.forEach(function (element) {
                    var computedStyle = window.getComputedStyle(element);

                    // التحقق إذا كان العنصر يحتوي على أي من الكلاسات المستثناة
                    var hasExcludedClass = excludedClasses.some(function (className) {
                        return element.classList.contains(className);
                    });

                    // استبعاد العناصر التي تحتوي على الكلاسات المستثناة أو text-align: center أو justify-content: center
                    if (!hasExcludedClass && computedStyle.textAlign !== 'center' && computedStyle.justifyContent !== 'center') {
                        element.style.direction = 'rtl';
                        element.style.textAlign = 'right';
                    }
                });
            } else {
                document.body.classList.add("ltr");
                document.body.classList.remove("rtl");

                // تعيين الخصائص للعناصر داخل body ما عدا العناصر المستثناة
                elements.forEach(function (element) {
                    var computedStyle = window.getComputedStyle(element);

                    // التحقق إذا كان العنصر يحتوي على أي من الكلاسات المستثناة
                    var hasExcludedClass = excludedClasses.some(function (className) {
                        return element.classList.contains(className);
                    });

                    // استبعاد العناصر التي تحتوي على الكلاسات المستثناة أو text-align: center أو justify-content: center
                    if (!hasExcludedClass && computedStyle.textAlign !== 'center' && computedStyle.justifyContent !== 'center') {
                        element.style.direction = 'ltr';
                        element.style.textAlign = 'left';
                    }
                });
            }
        });
    </script>
</body>
</html>
