@model AlfaPeople.KingKhalidFoundation.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = Resources.General.ForgetMyPass;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container" style="direction: ltr;">
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card" data-color="rose">
                    @using (Html.BeginForm("ForgotPasswordStepOne", "Account", new { partner = Request.QueryString["partner"] }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="card-header text-center">
                            <h3 class="card-title" style="text-align:center;">
                                @Resources.General.ForgetMyPass
                            </h3>
                            <h5 class="card-description">
                                @Resources.General.ForgetMyPassDesc
                            </h5>
                        </div>
                        <hr style="border: double 3px #c0a979; border-radius: 100%;" />
                        <div class="card-body">
                            <div class="tab-content" style="min-height: 100%;">
                                <div class="tab-pane active" id="FindYourAccount">
                                    <div class="row justify-content-center" style="align-items: center;">
                                        <h5 class="info-text"> @Resources.General.FindEmailDesc</h5>
                                        <div class="col-lg-10 mt-3">
                                            <div class="input-group form-control-lg">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">email</i>
                                                    </span>
                                                </div>
                                                <div class="form-group col-lg-10">
                                                    <label for="exampleemalil" class="bmd-label-floating">@Resources.General.Email</label>
                                                    @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control", @required = "required" })
                                                    @Html.ValidationMessageFor(model => model.Email)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="ml-auto">
                                <input type="submit" class="btn btn-finish btn-fill btn-rose btn-wd" value="@Resources.General.Next">
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- wizard container -->
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            var Msg = '@ViewBag.Msg';
            if (Msg != '') {
                md.showNotification('top', '@Resources.General.MsgTextAlign', 'notification_important', 'danger', '3e3', '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;"> ' + Msg + ' </h4>')
            }
        });
    </script>
}