@model AlfaPeople.KingKhalidFoundation.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = Resources.General.ForgetMyPass;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- Content -->
<div class="container">
    <div class="col-lg-4 col-md-6 col-sm-6 mr-auto">
        <div class="card card-login card-hidden">
            <div class="card-header card-header-rose text-center">
                <h4 class="card-title">@Resources.General.ForgetMyPass</h4>
            </div>
            <div class="card-body ">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.Code)
                    <div class="form-group has-default">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">lock_outline</i>
                                </span>
                            </div>
                            @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control", @placeholder = Resources.General.NewPass, @required = "required", @type = "password" })
                        </div>
                    </div>
                    <div class="form-group has-default">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">beenhere</i>
                                </span>
                            </div>
                            @Html.TextBoxFor(m => m.ConfirmPassword, "", new { @class = "form-control", @placeholder = Resources.General.ConfPass, @type = "password", @equalTo = "#password", @required = "required" })
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-rose btn-round mt-4" value="@Resources.General.LogIn">
                    </div>
                }
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
<!-- End Content -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}