@model AlfaPeople.KingKhaledFoundation.Admin.Web.Models.IncubationWorkshopVM
<link href="~/assets/css/FileUploaderStyle.css" rel="stylesheet" />
<link href="~/Content/chosen.min.css" rel="stylesheet" />
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">@Resources.IncubationWorkshops.WorkshopDetails</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        @using (Html.BeginForm("Edit", "IncubationWorkshops", FormMethod.Post, new { @name = "myDropzone", id = "myDropzone", @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(f => f.IncubationWorkshop.IncubationWorkshopID)
                            @Html.HiddenFor(f => f.IncubationWorkshop.IncubationtWorkshopStatusID)
                            @Html.HiddenFor(f => f.IncubationWorkshop.ISPublic)
                            @Html.HiddenFor(f => f.SendInvitation)

                        <div class="row justify-content-center">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Name" class="bmd-label-floating">@Resources.IncubationWorkshops.WorkshopName </label>
                                    @Html.EditorFor(model => model.IncubationWorkshop.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IncubationWorkshop.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.DropDownListFor(f => f.IncubationWorkshop.IncubationWorkshopModelID, (SelectList)ViewBag.IncubationWorkshopModelID, new { @class = "select-wizard form-control selectpicker", @required = "required", data_style = "select-with-transition", @title = Resources.IncubationWorkshops.SelectModel })
                                    @Html.ValidationMessageFor(model => model.IncubationWorkshop.IncubationWorkshopModelID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Inp_StartDate"> @Resources.IncubationWorkshops.StartDate </label>
                                    @Html.TextBoxFor(model => model.IncubationWorkshop.StartDate, new { @class = "form-control ", @id = "StartDate" })
                                    @Html.ValidationMessageFor(model => model.IncubationWorkshop.StartDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Inp_EndDate"> @Resources.IncubationWorkshops.EndDate </label>
                                    @Html.TextBoxFor(model => model.IncubationWorkshop.EndDate, htmlAttributes: new { @class = "form-control ", @id = "EndDate" })
                                    @Html.ValidationMessageFor(model => model.IncubationWorkshop.EndDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="LastTimeToApply"> @Resources.IncubationWorkshops.LastTimeToApply </label>
                                    @Html.EditorFor(model => model.IncubationWorkshop.LastTimeToApply, new { htmlAttributes = new { @class = "form-control", @id = "LastTimeToApply" } })
                                    @Html.ValidationMessageFor(model => model.IncubationWorkshop.LastTimeToApply, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="incubation_ProjectDurationInDays"> @Resources.IncubationWorkshops.DurationOfTheProjectInDays</label>
                                    <input type="text" id="ProjectDurationInDays" class="form-control" disabled="disabled" name="ProjectDurationInDays" value="@(Model.IncubationWorkshop.EndDate.Subtract(Model.IncubationWorkshop.StartDate).Days + 1)" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.DropDownListFor(f => f.IncubationWorkshop.ConsultantID, (SelectList)ViewBag.ConsultantID, new { @class = "select-wizard form-control selectpicker", @required = "required", data_style = "select-with-transition", @title = Resources.IncubationWorkshops.SelectConsultant })
                                    @Html.ValidationMessageFor(model => model.IncubationWorkshop.ConsultantID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group select-wizard">
                                    @Html.DropDownListFor(model => model.IncubationWorkshop.FundingSourceID, (SelectList)ViewBag.FundingSource, htmlAttributes: new { @class = "select-wizard form-control selectpicker", @data_style = "select-with-transition", @title = Resources.Incubation.SelectAdvertising })
                                    @Html.ValidationMessageFor(model => model.IncubationWorkshop.FundingSourceID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.DropDownListFor(f => f.IncubationWorkshop.RegionID, (SelectList)ViewBag.RegionID, new { @class = "select-wizard form-control selectpicker", @required = "required", data_style = "select-with-transition", @id = "Region", @title = Resources.IncubationWorkshops.SelectRegion })
                                    @Html.ValidationMessageFor(f => f.IncubationWorkshop.RegionID)
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.DropDownListFor(f => f.IncubationWorkshop.GovernorateID, (SelectList)ViewBag.GovernorateID, new { @class = "select-wizard form-control selectpicker", @required = "required", data_style = "select-with-transition", @id = "Governorate", @title = Resources.IncubationWorkshops.SelectGovernorate })
                                    @Html.ValidationMessageFor(model => model.IncubationWorkshop.GovernorateID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.DropDownListFor(f => f.IncubationWorkshop.CityID, (SelectList)ViewBag.CityID, new { @class = "select-wizard form-control selectpicker", @required = "required", data_style = "select-with-transition", @id = "City", @title = Resources.IncubationWorkshops.SelectNeighborhoods })
                                    @Html.ValidationMessageFor(model => model.IncubationWorkshop.CityID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="Description" class="bmd-label-floating">@Resources.IncubationWorkshops.Description</label>
                                    @Html.TextAreaFor(model => model.IncubationWorkshop.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IncubationWorkshop.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="TrainingHeadquarters" class="bmd-label-floating">@Resources.IncubationWorkshops.TrainingHeadquarters @*Headquarters*@ </label>
                                    @Html.EditorFor(model => model.IncubationWorkshop.TrainingHeadquarters, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IncubationWorkshop.TrainingHeadquarters, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            @* 25-3-2025 *@
                            <div class="col-lg-12">
                                <label class="bmd-label-floating">إرفاق ملف إقرار الالتزام (PDF فقط)</label>
                                <div class="fileuploader small-file-uploader" onclick="document.getElementById('CommitmentFile').click();">
                                    <div class="upload-label">
                                        <i class="material-icons">file_upload</i>
                                        <span class="title">إرفاق ملف</span>
                                        <span id="commitmentFileName" class="file-name-label">
                                            @(ViewBag.CommitmentFileName ?? "لم يتم اختيار أي ملف")
                                        </span>
                                    </div>

                                    <input type="file" name="CommitmentFile" id="CommitmentFile"
                                           accept=".pdf"
                                           onchange="updateCommitmentFileName()"
                                           style="display: none;" />
                                </div>

                                @if (!string.IsNullOrEmpty(ViewBag.CommitmentFileUrl))
                                {
                            <div class="mt-2">
                                <a href="@Url.Action("PreviewCommitmentFile","Home", new { id = ViewBag.CommitmentFileID })" class="btn btn-sm btn-info" target="_blank">
            <i class="material-icons">visibility</i> عرض الملف الحالي
        </a>
                              @*<a href="@ViewBag.CommitmentFileUrl" target="_blank">عرض إقرار الالتزام</a>*@

                            </div>

                                }

                                <span class="text-danger" id="fileError" style="display: none;">الرجاء رفع ملف PDF بصيغة صحيحة</span>
                            </div>

                            @if (!Model.IncubationWorkshop.ISPublic)
                            {

                                <div class="col-md-12 mt-lg-5">
                                    <div class="card card-plain">
                                        <div class="card-header card-header-default card-header-text">
                                            <div class="card-text float-left">
                                                <h6 class="card-title font-weight-bold">@Resources.IncubationWorkshops.PrivateMessage</h6>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="toolbar text-right">
                                                <button type="button" class="btn btn-rose btn-round" data-toggle="modal" rel="tooltip" title="@Resources.General.Add" data-original-title="@Resources.General.Add" data-target="#myModal">
                                                    <i class="material-icons">add</i>
                                                </button>
                                            </div>
                                            @*//2-24-2025*@
                                            <div class="material-datatables">
                                                <table id="WorkshopInvitationsTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>@Resources.General.Email</th>
                                                            <th>@Resources.CorporationProfile.CorporateName</th>
                                                            <th>@Resources.FollowUpProjectPlan.Status</th>
                                                            <th>@Resources.General.Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var invitation in Model.IncubationWorkshop.WorkshopPrivateInvitations)
                                                        {
                                                            <tr>
                                                                <td>@invitation.Email</td>
                                                                <td>@(invitation.FrontendUser?.CorporateApplicationForms.FirstOrDefault()?.Name ?? "غير متوفر")</td>

                                                                <td id="status-@invitation.WorkshopPrivateInvitationId">
                                                                    @if (invitation.InvitationStatus == InvitationStatus.pending)
                                                                    {
                                                                        @Resources.General.Pending
                                                                    }
                                                                    else if (invitation.InvitationStatus == InvitationStatus.attend)
                                                                    {
                                                                        @Resources.IncubationAdvertising.attend
                                                                    }
                                                                    else if (invitation.InvitationStatus == InvitationStatus.absent)
                                                                    {
                                                                        @Resources.AttendeesList.Absent
                                                                    }
                                                                    else if (invitation.InvitationStatus == InvitationStatus.cancel)
                                                                    {
                                                                        @Resources.IncubationAdvertising.Canceled
                                                                    }
                                                                    else if (invitation.InvitationStatus == InvitationStatus.form_filled)
                                                                    {
                                                                        @Resources.IncubationAdvertising.form_filled
                                                                    }
                                                                </td>

                                                                <td>
                                                                    <button type="button" class="btn btn-danger btn-sm cancel-btn"
                                                                            data-id="@invitation.WorkshopPrivateInvitationId"
                                                                            @(invitation.InvitationStatus != InvitationStatus.pending ? "disabled" : "")>
                                                                        @Resources.IncubationAdvertising.cancel
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                            @*<div class="material-datatables">
                            <table id="WorkshopInvitationsTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>@Resources.General.Email </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.IncubationWorkshop.WorkshopPrivateInvitations)
                                    {
                                        <tr>
                                            <td>@item.Email</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>*@
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-12" style="margin-bottom: 14px;margin-top: 14px;">
                                    <span style="font-size: 14px;" class="badge badge-pill badge-default">
                                        @Resources.IncubationWorkshops.PublicMessage
                                    </span>
                                </div>
                                <div class="col-sm-4"></div>
                            }

                            <div class="col-md-12 mt-lg-2">
                                <div class="card card-plain">
                                    <div class="card-header card-header-default card-header-text">
                                        <div class="card-text float-left">
                                            <h6 class="card-title font-weight-bold">@Resources.General.Attachments</h6>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="toolbar text-right">
                                            <button type="button" class="btn btn-rose btn-round" rel="tooltip" title="@Resources.General.Add" data-original-title="@Resources.General.Add" onclick="document.getElementById('selectedFile').click();">
                                                <i class="material-icons">add</i>
                                                <span id="fileText"></span>
                                            </button>
                                            @Html.TextBoxFor(model => model.files, null, new { @id = "selectedFile", @type = "file", @multiple = "multiple", @style = "display: none;", @onchange = "getFileName();" })
                                        </div>
                                        <div class="material-datatables">
                                            <table id="AttachmentDatatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>@Resources.General.AttachmentName</th>
                                                        <th>@Resources.General.AttachmentType</th>
                                                        <th>@Resources.General.AttachmentSize</th>
                                                        <th class="disabled-sorting">@Resources.General.Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.IncubationWorkshop.IncubationWorkshopAttachments.Where(a => a.IsCommitmentFile != true))
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a class="btn btn-link btn-default" href="@Url.Action("Download", new { id = item.AttachmentID })">
                                                                    <i class="material-icons">attach_file</i>
                                                                    @item.Name
                                                                </a>
                                                            </td>
                                                            <td>@item.Type</td>
                                                            <td>@item.Size Bytes</td>
                                                            <td class="text-right">
                                                                <a class="btn btn-link btn-rose btn-just-icon" href="@Url.Action("Download", new { id = item.AttachmentID })">
                                                                    <i class="material-icons">get_app</i>
                                                                </a>
                                                                <button class="btn btn-link btn-danger btn-just-icon remove" type="button" onclick="Delete('@item.AttachmentID')">
                                                                    <i class="material-icons">delete</i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display: contents;">
                                <div class="col-lg-12">
                                    <div class="card-footer justify-content-center ">
                                        <input type="submit" value="@Resources.General.Save" class="btn btn-rose" />
                                        <input type="submit" onclick="return SendWorkShopInvitation();" value="@Resources.General.SaveAndSubmit" class="btn btn-success" style="color: #fff;background-color: #30604a;border-color: #30604a;" />
                                        <a class="btn btn-default" href="@Url.Action("Index")">@Resources.General.Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->
<!-- Classic Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold">
                    @Resources.General.Add
                    <i class="material-icons">add</i>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="incWSInvEmailAutocomplete" class="bmd-label-floating font-weight-bold">@Resources.General.Email </label>
                    <input id="incWSInvEmailAutocomplete" type="email" class="form-control font-weight-bold" name="incWSInvEmailAutocomplete" required />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rose btn-link font-weight-bold" data-dismiss="modal" onclick="CreateNewInvitation()">@Resources.General.Submit</button>
                <button type="button" class="btn btn-danger btn-link font-weight-bold" data-dismiss="modal">@Resources.General.Close</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

@section Scripts{

    <script>
        window.onload = function (e) {
            $('#navItem_IncubationWorkshops').addClass('active');
            $('#Workshop').addClass('show');
        };
    </script>

    <script>
        function getFileName() {
            $('#fileText').html('');
            $('#fileText').append($('#selectedFile')[0].files.length + ' Files Selected');
        }
    </script>

    <script>
        $(document).ready(function () {
            if ('@Resources.General.lang' == 'ar') {
                var tstable = $('#WorkshopInvitationsTable').DataTable({
                    "paging": true,
                    "searching": true,
                    "info": true,
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [5, 10, 25, 50, -1],
                        [5, 10, 25, 50, "All"]
                    ],
                    responsive: true,
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Arabic.json"
                    }
                });
                var table = $('#AttachmentDatatables').DataTable({
                    "paging": true,
                    "searching": true,
                    "info": true,
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [5, 10, 25, 50, -1],
                        [5, 10, 25, 50, "All"]
                    ],
                    responsive: true,
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Arabic.json"
                    }
                });
            } else {
                var tstable = $('#WorkshopInvitationsTable').DataTable({
                    "paging": true,
                    "searching": true,
                    "info": true,
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [5, 10, 25, 50, -1],
                        [5, 10, 25, 50, "All"]
                    ],
                    responsive: true,
                    language: {
                        search: "_INPUT_",
                        searchPlaceholder: "Search records",
                    }
                });
                var table = $('#AttachmentDatatables').DataTable({
                    "paging": true,
                    "searching": true,
                    "info": true,
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [5, 10, 25, 50, -1],
                        [5, 10, 25, 50, "All"]
                    ],
                    responsive: true,
                    language: {
                        search: "_INPUT_",
                        searchPlaceholder: "Search records",
                    }
                });
            }

            // Delete a record
            table.on('click', '.remove', function (e) {
                $tr = $(this).closest('tr');
                table.row($tr).remove().draw();
                e.preventDefault();
                console.log(table.rows().data().length);
            });

        });

        function Delete(Id) {
                swal({
                    title: 'Are you sure?',
                    text: 'You will not be able to recover this file!',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, keep it',
                    confirmButtonClass: "btn btn-success",
                    cancelButtonClass: "btn btn-danger",
                    buttonsStyling: false
                }).then(function () {

                    $.getJSON('@Url.Action("DeleteAttachment")', { Id: Id }, function (Result) {
                        if (Result != null && !jQuery.isEmptyObject(Result)) {
                            if (Result === "Deleted Succsesfully") {
                                swal({
                                    title: 'Deleted!',
                                    text: 'Your imaginary file has been deleted.',
                                    type: 'success',
                                    confirmButtonClass: "btn btn-success",
                                    buttonsStyling: false
                                }).catch(swal.noop)
                            } else {
                                swal({
                                    title: 'Failed',
                                    text: 'failed to delete your imaginary file :)',
                                    type: 'error',
                                    confirmButtonClass: "btn btn-danger",
                                    buttonsStyling: false
                                }).catch(swal.noop)
                            }
                        }
                    });

                }, function (dismiss) {
                    // dismiss can be 'overlay', 'cancel', 'close', 'esc', 'timer'
                    if (dismiss === 'cancel') {
                        swal({
                            title: 'Cancelled',
                            text: 'Your imaginary file is safe :)',
                            type: 'error',
                            confirmButtonClass: "btn btn-info",
                            buttonsStyling: false
                        }).catch(swal.noop)
                    }
                })
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#StartDate").datepicker({
                changeYear: true,
                dateFormat: 'yy-mm-dd',
                altFormat: "yy-mm-dd"
            });

            $("#EndDate").datepicker({
                changeYear: true,
                dateFormat: 'yy-mm-dd',
                altFormat: "yy-mm-dd"
            });

            $("#LastTimeToApply").datepicker({
                changeYear: true,
                dateFormat: 'yy-mm-dd',
                altFormat: "yy-mm-dd"
            });

            $("#StartDate").datepicker({ dateFormat: 'yy-mm-dd' }).bind("change", function () {
                var maxValue = $(this).val();
                maxValue = $.datepicker.parseDate("yy-mm-dd", maxValue);
                maxValue.setDate(maxValue.getDate());
                $("#LastTimeToApply").datepicker("option", "maxDate", maxValue);
                $("#LastTimeToApply").datepicker("option", "minDate", $.datepicker.formatDate('yy-mm-dd', new Date()));
            })

            $("#StartDate").datepicker({ dateFormat: 'yy-mm-dd' }).bind("change", function () {
                var minValue = $(this).val();
                if (minValue != '') {
                    minValue = $.datepicker.parseDate("yy-mm-dd", minValue);
                    minValue.setDate(minValue.getDate() + 1);
                    $("#EndDate").datepicker("option", "minDate", minValue);
                }
                var endDateValue = new Date($("#EndDate").val());
                if (endDateValue != '' && minValue != '') {
                    var diffTime = diffTime = Math.abs(endDateValue.getTime() - minValue.getTime());
                    var result = Math.ceil(diffTime / (1000 * 60 * 60 * 24)) + 1;
                    $("#ProjectDurationInDays").val(result);
                } else { $("#ProjectDurationInDays").val(''); }
            });

            $("#EndDate").datepicker({ dateFormat: 'yy-mm-dd' }).bind("change", function () {
                var endDateValue = new Date($(this).val());
                var startDateValue = new Date($("#StartDate").val());
                var diffTime = diffTime = Math.abs(endDateValue.getTime() - startDateValue.getTime());
                var result = Math.ceil(diffTime / (1000 * 60 * 60 * 24)) + 1;
                $("#ProjectDurationInDays").val(result);
            });

            var endDate = '@ViewBag.EndDate';
            var startDate = '@ViewBag.StartDate';
            var lastTimeToApply = '@ViewBag.LastTimeToApply';
            $('#EndDate').datepicker('setDate', endDate)
            $('#StartDate').datepicker('setDate', startDate)
            $('#LastTimeToApply').datepicker('setDate', lastTimeToApply)
        });
    </script>

    <script>
        function SendWorkShopInvitation() {
            if (confirm("Are you sure, do you want to send the invitations again?") == true) {
                if (confirm("Are you sure about taken this action, This action will send an email to the corporates?") == true) {
                    document.getElementById("SendInvitation").value = true;
                    return true;
                } else {
                    return false;
                }
            } else {
                return false;
            }
        }

        @*function CreateNewInvitation() {
            var incWSInvEmails = $("#incWSInvEmailAutocomplete").val();
            var workshopID = $("#IncubationWorkshop_IncubationWorkshopID").val();
            if (ValidateEmail(incWSInvEmails) && incWSInvEmails != null && !jQuery.isEmptyObject(incWSInvEmails)) {
                var msgConfirm = confirm("Are you sure about taken this action, This action will send an email to the corporates?");
                if (msgConfirm == true) {
                    $.getJSON('@Url.Action("CreateNewInvitation", "IncubationWorkshops")', { "workshopID": workshopID, "email": incWSInvEmails }, function (Result) {
                        if (Result != "Error") {
                            md.showNotification('top', '@Resources.General.MsgTextAlign', 'notification_important', 'rose', '3e3', '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;"> Invitation Sent Successfully </h4>')
                            $('#WorkshopInvitationsTable').DataTable().row.add([incWSInvEmails]).draw();
                        }
                        else
                        {
                            md.showNotification('top', '@Resources.General.MsgTextAlign', 'bug_report', 'danger', '3e3', '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;"> Something Went Wrong Please Try Again Later. </h4>')
                        }
                    });
                } else {
                    //event.preventDefault();
                }
            }
            else
            {
                md.showNotification('top', '@Resources.General.MsgTextAlign', 'bug_report', 'danger', '3e3', '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;"> Please Enter Valid Email Address!!! </h4>')
            }
        }*@
        //2-24-2025
    // 24-2-2025
function CreateNewInvitation() {
    var email = $("#incWSInvEmailAutocomplete").val();
    var workshopID = $("#IncubationWorkshop_IncubationWorkshopID").val();

    if (ValidateEmail(email) && email) {
        if (confirm("هل أنت متأكد من إرسال الدعوة؟")) {
            $.getJSON('@Url.Action("CreateNewInvitation", "IncubationWorkshops")',
                { "workshopID": workshopID, "email": email },
                function (result) {
                    if (result === "Success") {
                        md.showNotification('top', '@Resources.General.MsgTextAlign', 'notification_important', 'rose', '3e3',
                            '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;">تم إرسال الدعوة بنجاح</h4>'
                        );
                        $("#incWSInvEmailAutocomplete").val("");

                        // تحديث الجدول بعد الإضافة مباشرة
                        $.getJSON('@Url.Action("GetInvitationDetails", "IncubationWorkshops")',
                            { "workshopID": workshopID, "email": email },
                            function (invitationDetails) {
                                if (invitationDetails) {
                                    var table = $('#WorkshopInvitationsTable').DataTable();
                                    table.row.add([
                                        invitationDetails.Email, // البريد الإلكتروني
                                        invitationDetails.OrganizationName || "غير متوفر", // اسم الجمعية (إذا وجد)
                                        "@Resources.General.Pending", // الحالة الجديدة
                                        '<button type="button" class="btn btn-danger btn-sm cancel-btn" ' +
                                        'data-id="' + invitationDetails.ID + '">إلغاء الدعوة</button>' // زر الإلغاء
                                    ]).draw(false);
                                }
                            });

                    } else if (result === "Invitation Already Exists") {
                        md.showNotification('top', '@Resources.General.MsgTextAlign', 'bug_report', 'danger', '3e3',
                            '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;">هذه الجمعية تمت دعوتها بالفعل</h4>'
                        );
                    } else if (result.includes("لا يمكن إرسال الدعوة لأن فترة الإعلان قد انتهت")) {
                        md.showNotification('top', '@Resources.General.MsgTextAlign', 'bug_report', 'danger', '3e3',
                            '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;">لا يمكن إرسال الدعوة لأن فترة الإعلان قد انتهت</h4>'
                        );
                    } else {
                        md.showNotification('top', '@Resources.General.MsgTextAlign', 'bug_report', 'danger', '3e3',
                            '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;"> ' + result + '</h4>'
                        );
                    }
                });
        }
    } else {
        md.showNotification('top', '@Resources.General.MsgTextAlign', 'bug_report', 'danger', '3e3',
            '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;">يرجى إدخال بريد إلكتروني صحيح!</h4>'
        );
    }
}


        function ValidateEmail(inputText) {
            var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            if (inputText.match(validRegex)) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
    <script>
    
    $(document).ready(function () {
        $(".cancel-btn").click(function () {
            var invitationId = $(this).data("id");
            var row = $(this).closest("tr"); // تحديد الصف المراد إزالته
            var table = $('#WorkshopInvitationsTable').DataTable(); // جلب الجدول

            // تأكيد الإلغاء
            if (!confirm("هل أنت متأكد أنك تريد إلغاء هذه الدعوة؟")) {
                return;
            }

            $.ajax({
                url: "/IncubationWorkshops/CancelInvitation",
                type: "POST",
                data: { invitationId: invitationId },
                success: function (response) {
                    if (response.success) {
                        // عرض إشعار نجاح الإلغاء
                        md.showNotification('top', '@Resources.General.MsgTextAlign',
                            'check_circle', 'success', '3e3',
                            '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;">' +
                            response.message + '</h4>');

                        // إخفاء الصف بتأثير تدريجي ثم إزالته من DataTable
                        row.fadeOut(500, function () {
                            table.row(row).remove().draw(false); // إزالة الصف من الجدول
                        });

                    } else {
                        // عرض إشعار خطأ في حال فشل الإلغاء
                        md.showNotification('top', '@Resources.General.MsgTextAlign',
                            'error', 'danger', '3e3',
                            '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;">' +
                            response.message + '</h4>');
                    }
                },
                error: function () {
                    // عرض إشعار خطأ عند حدوث مشكلة في الاتصال بالسيرفر
                    md.showNotification('top', '@Resources.General.MsgTextAlign',
                        'error', 'danger', '3e3',
                        '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;">' +
                        'حدث خطأ أثناء محاولة إلغاء الدعوة.</h4>');
                }
            });

            return false; // منع أي تصرف إضافي قد يؤدي إلى تحديث الصفحة
        });
    });


    @*$(document).ready(function () {
            $(".cancel-btn").click(function () {
                var invitationId = $(this).data("id");
                var row = $(this).closest("tr"); // تحديد الصف المراد إزالته

                // تأكيد الإلغاء
                if (!confirm("هل أنت متأكد أنك تريد إلغاء هذه الدعوة؟")) {
                    return;
                }

                $.ajax({
                    url: "/IncubationWorkshops/CancelInvitation",
                    type: "POST",
                    data: { invitationId: invitationId },
                    success: function (response) {
                        if (response.success) {
                            // عرض إشعار نجاح الإلغاء
                            md.showNotification('top', '@Resources.General.MsgTextAlign',
                                'check_circle', 'success', '3e3',
                                '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;">' +
                                response.message + '</h4>');

                            // تحديث الجدول مباشرة بعد الإلغاء
                            var table = $('#WorkshopInvitationsTable').DataTable();
                            table.row(row).remove().draw(); // حذف الصف مباشرة
                        } else {
                            // عرض إشعار خطأ في حال فشل الإلغاء
                            md.showNotification('top', '@Resources.General.MsgTextAlign',
                                'error', 'danger', '3e3',
                                '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;">' +
                                response.message + '</h4>');
                        }
                    },
                    error: function () {
                        // عرض إشعار خطأ عند حدوث مشكلة في الاتصال بالسيرفر
                        md.showNotification('top', '@Resources.General.MsgTextAlign',
                            'error', 'danger', '3e3',
                            '<h4 class="info-text" style="text-align:@Resources.General.TextAlign;">' +
                            'حدث خطأ أثناء محاولة إلغاء الدعوة.</h4>');
                    }
                });
                return false; // منع أي تصرف إضافي قد يؤدي إلى تحديث الصفحة
            });
        });*@


    //      $(document).ready(function () {
    //    $(".cancel-btn").click(function () {
    //        var invitationId = $(this).data("id");
    //        var row = $(this).closest("tr"); // تحديد الصف المراد إزالته

    //        // تأكيد الإلغاء
    //        if (!confirm("هل أنت متأكد أنك تريد إلغاء هذه الدعوة؟")) {
    //            return;
    //        }

    //        $.ajax({
    //            url: "/IncubationWorkshops/CancelInvitation",
    //            type: "POST",
    //            data: { invitationId: invitationId },
    //            success: function (response) {
    //                if (response.success) {
    //                    alert(response.message);

    //                    // تحديث الجدول مباشرة بعد الإلغاء
    //                    var table = $('#WorkshopInvitationsTable').DataTable();
    //                    table.row(row).remove().draw(); // حذف الصف مباشرة
        //                } else
      /*  {*/
    //                    alert(response.message);
    //                }
    //            },
    //            error: function () {
    //                alert("حدث خطأ أثناء محاولة إلغاء الدعوة.");
    //            }
    //        });
    //        return false; // منع أي تصرف إضافي قد يؤدي إلى تحديث الصفحة
    //    });
    //});


    </script>

    @* 25-3-2025 *@
<script>
       function updateCommitmentFileName() {
    var fileInput = document.getElementById("CommitmentFile");
    var label = document.getElementById("commitmentFileName");
    var error = document.getElementById("fileError");

    // أزرار الحفظ والإرسال
    var saveBtn = document.querySelector("input[type='submit'][value='@Resources.General.Save']");
    var saveAndSubmitBtn = document.querySelector("input[type='submit'][value='@Resources.General.SaveAndSubmit']");

    if (fileInput.files.length > 0) {
        var file = fileInput.files[0];
        var extension = file.name.split('.').pop().toLowerCase();

        if (extension !== "pdf") {
            error.style.display = "block";
            fileInput.value = "";
            label.innerText = "لم يتم اختيار أي ملف";

            // تعطيل الأزرار
            if (saveBtn) saveBtn.disabled = true;
            if (saveAndSubmitBtn) saveAndSubmitBtn.disabled = true;

        } else {
            error.style.display = "none";
            label.innerText = file.name;

            // تفعيل الأزرار
            if (saveBtn) saveBtn.disabled = false;
            if (saveAndSubmitBtn) saveAndSubmitBtn.disabled = false;
        }
    } else {
        // في حال لم يتم اختيار أي ملف، نعيد تفعيل الأزرار
        error.style.display = "none";
        label.innerText = "لم يتم اختيار أي ملف";
        if (saveBtn) saveBtn.disabled = false;
        if (saveAndSubmitBtn) saveAndSubmitBtn.disabled = false;
    }
}

</script>
}