@model IEnumerable<AlfaPeople.KingKhalidFoundation.Data.Model.IncubationModel>
@{
    Layout = null;
}
<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
    <thead>
        <tr>
            <th>
                @Resources.Incubation.NameAR
                @*@Html.DisplayNameFor(model => model.NameEN)*@
            </th>
            <th>
                @Resources.Incubation.IsActive
                @*@Html.DisplayNameFor(model => model.IsActive)*@
            </th>
            <th>@Resources.General.Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (ViewBag.lang == 3)
                    {
                        @Html.DisplayFor(modelItem => item.NameAR)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.NameEN)
                    }
                </td>
                <td>
                    @if (item.IsActive == true)
                    {
                        <span class="badge badge-pill badge-success">
                            @Resources.Incubation.Acitve
                        </span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-danger">
                            @Resources.Incubation.InAcitve
                        </span>
                    }
                </td>
                <td>
                    <a class="btn btn-link btn-warning btn-just-icon edit" data-toggle="modal" data-target="#EditClassificationSectorNonProfit" onclick="Edit('@Url.Action("Edit", "IncubationModels", new { id=@item.IncubationModelID})')"><i class="material-icons">edit</i></a>
                    @*<a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#EditClassificationSectorNonProfit" onclick="Edit('@Url.Action("Edit", "IncubationModels", new { id=@item.IncubationModelID})')"><i class="material-icons">edit</i></a>*@
                </td>
            </tr>
        }
    </tbody>
</table>




