@model AlfaPeople.KingKhalidFoundation.Data.Model.AuthorizationAuthority
@{

    Layout = null;
}
@using (Html.BeginForm("Create", "AuthorizationAuthorities", FormMethod.Post, new { onSubmit = "return jQueryAjaxPost(this);", data_restUrl = Url.Action("Index", "AuthorizationAuthorities", new { id = 0 }) }))//data-resetUrl
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
       
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="AuthorizationAuthorityNameAR" class = "bmd-label-floating">@Resources.AuthorizationAuthorities.AuthorizationAuthorityNameAR</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AuthorizationAuthorityNameAR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AuthorizationAuthorityNameAR, "", new { @class = "text-danger" })
                </div>
            </div>

        
            <div class="form-group">
                <label for="AuthorizationAuthorityNameEN" class = "bmd-label-floating">@Resources.AuthorizationAuthorities.AuthorizationAuthorityNameEN</label>

                <div class="col-md-10">
                    @Html.EditorFor(model => model.AuthorizationAuthorityNameEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AuthorizationAuthorityNameEN, "", new { @class = "text-danger" })
                </div>
            </div>
         
            <div class="form-group">
                <label for="IsActive" class = "bmd-label-floating">@Resources.AuthorizationAuthorities.IsActive</label>

                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

   
        </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-info btn-link">@Resources.General.Add</button>
            <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@Resources.General.Close</button>
        </div>
}
