@model AlfaPeople.KingKhalidFoundation.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = Resources.General.ChangePassword;
}

<!-- Content -->
<div class="content" style="direction:@Resources.General.dir; text-align:@Resources.General.TextAlign;">
    <div class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">@Resources.General.ChangePassword</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="row justify-content-center">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label for="OldPassword" class="bmd-label">@Resources.General.CurrPass</label>
                                            <br />
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label for="NewPassword" class="bmd-label">@Resources.General.NewPass</label>
                                            <br />
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label for="ConfirmPassword" class="bmd-label">@Resources.General.ConfPass</label>
                                            <br />
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="form-group">
                                            <input type="submit" value="@Resources.General.ChangePassword" class="btn btn-rose" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Content -->
@section Scripts{

    <script>
        window.onload = function (e) {
            $('#navItem_ChangePassword').addClass('active');
            $('#collapseExample').addClass('show');
        };
    </script>

}